<!DOCTYPE html>
<html>
<head>
  <title>Igopal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>IGOPAL STAR</h1>
<%= yield %>
<p><em>Footer</em></p>
</body>
</html>
